<div class="container">

<p style="text-align:center">
<img src="styles/images/map.jpg" alt="map photo"
  title="exterior photo of hotel entrance"
  height="400px" width="600px" align="middle">
</p>

<p style="text-align:center">
  <video src="videofile.ogg" autoplay poster="posterimage.jpg" controls>
    Video not supported
    (must link to a video file, not a video on another site)
  </video>
</p>

<p>
  <a href="https://en.wikipedia.org/wiki/Brown_bear" target="_blank">Learn More</a>
</p>

<p style="text-align:center"><a href="#top"><strong>HAUT</strong></a></p>
