<div class="container">

<p style="text-align:center">
<img src="styles/images/map.jpg" alt="map photo"
  title="exterior photo of hotel entrance"
  height="400px" width="600px" align="middle">
</p>

<!-- ******* VIDEO ******* -->
<div class="video">
  <p style="text-align:center">
    <video  width="320" height="240" autoplay poster="eiffel-tower.jpg" controls>
                                                  <!-- Chrome           Safari -->
      <source src="styles/eiffel-tower.mp4" type="video/ogg" type="video/mp4">
      Video not supported
      (must link to a video file, not a video on another site)
    </video>
  </p>
  <p>
    Video by Shawn, courtesy of
    <a href="https://www.videezy.com/">Videezy</a>
  </p>
</div>
<br>
<br>

<!-- ******* LEARN MORE ******* -->
<div class="learnMore">
  <a href="https://en.wikipedia.org/wiki/Paris" target="_blank" class="learnMoreLink">
    Apprendre encore plus!</a>
</div>
<br>

<div class="top">
  <a href="#top" class="topLink">HAUT</a>
</div>
</div>
<br>

<footer>
  &copy un hotel tres francais
</footer>
