<div class="container">

<!-- ******** MAP IMAGE ******* -->
<p style="text-align:center">
<img src="styles/images/map.jpg" alt="map photo"
  title="exterior photo of hotel entrance"
  height="400px" width="600px" align="middle">
</p>
<!-- ******* END MAP IMAGE ******* -->


<!-- ******* VIDEO ******* -->
<div class="row">
  <div class="col-sm-6">
    <div class="video">
    <video width="500" height="400" autoplay poster="eiffel-tower.jpg" controls>
                                              <!-- Chrome           Safari --> -->
      <source src="styles/eiffel-tower.mp4" type="video/ogg" type="video/mp4">
      Video not supported
      (must link to a video file, not a video on another site)
    </video>
    <p>
      Video by Shawn, courtesy of
      <a href="https://www.videezy.com/">Videezy</a>
    </p>
  </div>
  <!-- ******* END VIDEO DIV ******** -->
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="col-sm-6">
    <div class="eiffelTowerHistory">
      <h4>La Tour Eiffel a été nommée d'après l'ingénieur Gustave Eiffel, dont la
      compagnie a conçu et construit le célèbre monument. La construction a commencé
      en janvier 1887 et a été achevée en seulement deux ans. Leur plan était de finir
      la tour à temps pour être l'arche d'entrée de l'Exposition universelle en 1889.
      Cette foire a célébré le 100e anniversaire de la Révolution française, qui a eu
      lieu de 1789-1799.</h4>
    </div>
 </div>
</div>

<br>
<br>

<!-- ******* LEARN MORE ******* -->
<div class="learnMore">
  <a href="https://en.wikipedia.org/wiki/Paris" target="_blank" class="learnMoreLink">
    Apprendre encore plus!</a>
</div>
<br>

<div class="top">
  <a href="#top" class="topLink">HAUT</a>
</div>

<br>

</div>
<!-- ******* END CONTAINER ******* -->
<footer>
  &copy un hotel tres francais
</footer>
