<div class="container">

<img src="styles/images/restaurant.jpg" alt="restaurant photo"
  title="interior restaurant photo of set tables and chairs"
  height="500px" width="600px" display="center">

<!-- <p>
<h3>Le restaurant can accommodate up to 30 people</h3>
</p>

<p>
<h3>For private dining, please contact us directly for reservations</h3>
</p> -->

<p>
<h4>
Restaurant de poissons et fruits de mer depuis 1967,
Le Restaurant est un rendez vous gastronomique immanquable pour tout amateur de bonne pêche.
Un lieu de caractère installé à deux pas des ateliers de César et Dali,
dont la carte se dessine suivant les arrivages journaliers.
</h4>
</p>

  <hr width="50%">

<p>
<h5>
  Menu de la mer
  SERVI SEULEMENT AU DÉJEÛNER
  - 55 € -
  Huitres spéciales
  ou Tartare de bar et saumon
  Friture d’encornets
  ou Palourdes au thym
  Skreï à la vapeur d’algues
  ou Rougets poêlés
  ou Coquilles St Jacques au naturel
  Gâteau au chocolat
  ou Baba au rhum
  ou Ananas frais
</h5>
</p>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="styles/images/caviar.jpg" alt="caviar">
    </div>

    <div class="item">
      <img src="styles/images/pork.jpg" alt="pork">
    </div>

    <div class="item">
      <img src="styles/images/vegetables.jpg" alt="vegetables">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">précédent</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">prochain</span>
  </a>
</div>

<p><a href="#top">Top</a></p>

</div>
