<div class="container">

<img src="styles/images/restaurant.jpg" alt="restaurant photo"
  title="interior restaurant photo of set tables and chairs"
  height="500px" width="600px">

<!-- <p> -->
<h4>
Restaurant de poissons et fruits de mer depuis 1967,
Le Restaurant est un rendez vous gastronomique immanquable pour tout amateur de bonne pêche.
Un lieu de caractère installé à deux pas des ateliers de César et Dali,
dont la carte se dessine suivant les arrivages journaliers.
</h4>
<!-- </p> -->

<hr width="100%">

<p>
<h5>
  Menu de la mer
  SERVI SEULEMENT AU DÉJEÛNER
  - 55 € -
  Huitres spéciales
  ou Tartare de bar et saumon
  Friture d’encornets
  ou Palourdes au thym
  Skreï à la vapeur d’algues
  ou Rougets poêlés
  ou Coquilles St Jacques au naturel
  Gâteau au chocolat
  ou Baba au rhum
  ou Ananas frais
</h5>
</p>


<!-- **** CAROUSEL **** -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="styles/images/lentil-cassoulet.jpg" alt="Lentil Cassoulet"
      title="lentil cassoulet dish image" class="img-responsive">
      <div class="carousel-caption">
        <h3>Lentil Cassoulet</h3>
        <p>(ingredients here)</p>
      </div>
    </div>

    <div class="item">
      <img src="styles/images/pork.jpg" alt="pork" class="img-responsive">
      <div class="carousel-caption">
        <h3>Porc</h3>
        <p>(ingredients here)</p>
      </div>
    </div>

    <div class="item">
      <img src="styles/images/vegetables.jpg" alt="vegetables" class="img-responsive">
      <div class="carousel-caption">
        <h3>Des Légumes</h3>
        <p>(ingredients here)</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
    <span class="icon-prev"></span>
    <span class="sr-only">précédent</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
    <span class="icon-next"></span>
    <span class="sr-only">prochain</span>
  </a>
</div>
<br>


<div class="vegetablesImage">
  <p class="vegetablesCaption">des légumes</p>
</div>
<br>

<div class="top text-center">
  <a href="#top" class="topLink">HAUT</a>
</div>

</div>

<br>
<footer>
  &copy un hotel tres francais
</footer>
