<div class="container">

<img src="styles/images/restaurant.jpg" alt="restaurant photo"
  title="interior restaurant photo of set tables and chairs"
  height="500px" width="600px" display="center">

<!-- <p>
<h3>Le restaurant can accommodate up to 30 people</h3>
</p>

<p>
<h3>For private dining, please contact us directly for reservations</h3>
</p> -->

<p>
<h4>
Restaurant de poissons et fruits de mer depuis 1967,
Le Restaurant est un rendez vous gastronomique immanquable pour tout amateur de bonne pêche.
Un lieu de caractère installé à deux pas des ateliers de César et Dali,
dont la carte se dessine suivant les arrivages journaliers.
</h4>
</p>

  <hr width="50%">

<p>
<h5>
  Menu de la mer
  SERVI SEULEMENT AU DÉJEÛNER
  - 55 € -
  Huitres spéciales
  ou Tartare de bar et saumon
  Friture d’encornets
  ou Palourdes au thym
  Skreï à la vapeur d’algues
  ou Rougets poêlés
  ou Coquilles St Jacques au naturel
  Gâteau au chocolat
  ou Baba au rhum
  ou Ananas frais
</h5>
</p>

<p><a href="#top">Top</a></p>

</div>
