<div class="container" id="roomsContainer">

<p style="text-align:center">
<!-- <figure> -->
<img src="styles/images/room2.jpg" alt="room" height="524px" width="736px">
<br>
<figcaption style="text-align:center; font-family:cursive;"><h4><strong>chambre d'hôtel</strong></h4></figcaption>
<!-- </figure> -->
</p>
<br>

<div class="nights">
<table>
  <thead>
    <tr>
      <th></th>
      <th scope="col" colspan="2">1 NUIT</th>
      <th scope="col" colspan="2">2 NUITS</th>
      <th scope="col" colspan="2">3 NUITS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Roi</th>
      <td colspan="2">600 €</td>
      <td colspan="2">600 €</td>
      <td colspan="2">550 €</td>
    </tr>
    <tr>
      <th scope="row">Reine</th>
      <td colspan="2">500 €</td>
      <td colspan="2">500 €</td>
      <td colspan="2">450 €</td>
    </tr>
    <tr>
      <th scope="row">Double</th>
      <td colspan="2">400 €</td>
      <td colspan="2">400 €</td>
      <td colspan="2">350 €</td>
    </tr>
  </tbody>
</table>
</div>
<br>

<div class="reservations">
  <h3>RÉSERVATIONS</h3>
  <hr width="100%">
  <form>
    Prénom <input type="text" ng-model="roc.nameInput" required="required">
    <br>
    Enregistrement <input type="date" id="date" ng-model="roc.checkInInput" required="required">
    <br>
    Check-out <input type="date" id="date" ng-model="roc.checkOutInput" required="required">
    <br>
    Le Lit <select class="bed" name="bed" ng-model="roc.bedInput" required="required">
    <option ng-model="roc.bedInput" value="king">Roi</option>
    <option ng-model="roc.bedInput" value="queen">Reine</option>
    <option ng-model="roc.bedInput" value="double">Double</option>
    </select>
    <br>
    Journées <select class="nights" name="nights" ng-model="roc.nightsInput" required="required">
    <option ng-model="roc.nightsInput" value="one">1</option>
    <option ng-model="roc.nightsInput" value="two">2</option>
    <option ng-model="roc.nightsInput" value="three">3</option>
    </select>
    <br>
    <button class="btn" ng-click="roc.reservation()">Soumettre</button>
    <br>
    <input type="image" name="book" src="styles/images/book.svg" width="100" height="100"/>
  </form>
    <br>
</div>
<!-- **** END RESERVATIONS DIV **** -->


<div class="top">
  <a href="#top" class="topLink">HAUT</a>
</div>

</div>
<!-- **** END CONTAINER CLASS **** -->

<br>
<footer>
  &copy un hotel tres francais
</footer>
