<div class="container">

<figure>
<img src="styles/images/room.jpg" alt="">
<br>
<figcaption><h4>chambre d'hôtel</h4></figcaption>
</figure>
<br>
<br>

<ins><h6>PRIX</h6></ins>
<table>
  <tr>
    <th></th>
    <th>1 night</th>
    <th>2 nights</th>
    <th>3 nights</th>
  </tr>
  <tr>
    <th>Roi</th>
    <td>600 €</td>
    <td>600 €</td>
    <td>550 €</td>
  </tr>

</table>
<br>
<br>

<p>Roi.............600 €</p>
<p>Reine.........500 €</p>
<p>Double.......400 €</p>

<p><a href="#top">Top</a></p>

</div>
