/**** SPACE MONO ****/

@font-face {
  font-family: 'Petit Formal Script';
  font-style: normal;
  font-weight: 400;
  src: local('Petit Formal Script'), local('Petit Formal Script'), url(https://fonts.googleapis.com/css?family=Petit+Formal+Script) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Petit Formal Script';
  font-style: normal;
  font-weight: 700;
  src: local('Petit Formal Script'), local('Petit Formal Script'), url(https://fonts.googleapis.com/css?family=Petit+Formal+Script) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



/**** USER AGENT ****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/**** SITE ****/

header {
  text-align: center;
  font-family: "Petit Formal Script", cursive;
}

.top {
  text-align: center;
  /*background: #8A360F;*/
  background: #B8860B;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  float: right;
}

.topLink {
  color: white;
}

a {
  color: black;
  letter-spacing: 0.5em;
}

footer {
  text-align: center;
  color: white;
  background-color: black;
  height: 100px;
  margin-top: 20px;
}



/**** HOME ****/

.backgroundDiv {
  margin-top: -2em;
  /*min-height: 853px;*/
  min-height: 953px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
  url("../styles/images/paris-trees.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome {
  text-align: center;
  opacity: .75;
  margin-left: 200px;
  margin-right: 200px;
}



/**** HISTORY ****/

.video {
  text-align: center;
}

.eiffelTowerHistory {
  color: grey;
  text-align: justify;
}

#tourEiffel {
  font-family: "Petit Formal Script", cursive;
}

.learnMore {
  text-align: center;
}

.learnMoreLink {
  color: grey;
  font-size: 15px;
  text-align: center;
  font-family: "Petit Formal Script", cursive;
}



/**** ROOMS ****/

#roomsContainer,
.reservations {
}

#roomImage {
  height: 630px;
  width: 1000px;
  /*height: 524px;
  width: 736px;*/
}

figure {
  text-align: center;
}

figcaption {
  color: grey;
  text-align: center;
  font-family: cursive;
}

.reservations {
  border: 5px groove grey;
  text-align: center;
  height: 40%;
  left: 10%;
  margin: 20px auto;
  /*overflow-y: scroll;*/
  position: static;
  /*width: 80%;*/
  width: 1000px;
}

#reservations {
  font-family: "Petit Formal Script", cursive;
}

table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  /*width: 80%; */
  width: 1000px;
}

thead th {
  /*background: #8A360F;*/
  background: #9AC0CD;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
}



/**** RESTAURANT ****/

#contexteDeRestaurant {
  font-family: "Petit Formal Script", cursive;
}

.restaurantDescription {
  line-height: 10px;
  color: grey;
  text-align: justify;
}

.menu {
  color: grey;
  width: 50%;
  text-align: justify;
}

#menuDeLaMer {
  font-family: "Petit Formal Script", cursive;
}

.glyphicon {
   font-family:'Glyphicons Halflings' !important;
}

.vegetablesImage {
  background-image: url("/styles/images/vegetables2.jpg");
  /*background-size: cover;*/
  background-position: center;
  /*background-position: bottom center;*/
  height: 300px;
  width: 300px;
}

.vegetablesCaption {
  background-color: white;
  color: black;
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;
  opacity: 0.50;
}



/**** FUTURE ****/

.future {
  visibility: hidden;
}
