/**** SITE ****/

header {
  text-align: center;
  font-family: AbrilFatface;
}

.nav {
  text-align: center;
  margin-left: 685px;
}

/*.nav li {
  align-content: center;
}*/

/*chaining -> makes all h1 elements with the class hotel cursive
h1.hotel {
  font-family: cursive;
}*/

/*nesting -> targets all h1 elements nested inside elements with class hotel
hotel h5 {
  font-family: cursive;
}*/


/*!important. !important can be applied to specific attributes instead of full rules. It will override any style no matter how specific it is. As a result, it should almost never be used. Once !important is used, it is very hard to override.

The syntax of !important in CSS looks like this:

p {
  color: blue !important;
}


.main p {
  color: red;
}*/

/**** HOME ****/

.backgroundDiv {
  margin-top: -2em;
  min-height: 853px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
  url("../styles/images/paris-trees.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/**** ROOMS ****/

#roomsContainer,
.reservations {
  /*background-color: #FFEFD5;*/
}

.reservations {
  border: groove;
  /*margin-right: 535px;*/
  text-align: center;
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
}

/*table, th, td {
  border: 1px solid orange;
  font-family: Helvetica, sans-serif;
  text-align: center;
}*/

table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
}

thead th {
  background: #8A360F;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
}



/**** RESTAURANT ****/

.glyphicon {
   font-family:'Glyphicons Halflings' !important;
}

.vegetablesImage {
  background-image: url("/styles/images/vegetables.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

.vegetablesCaption {
  background-color: white;
  color: black;
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;
  opacity: 0.75;
}
